<div ng-cloak>
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch  style="margin:0 25%; width:50%">
        <md-card-content>
            <div>
                <md-grid-list
                    md-cols-xs="3" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3"
                    md-row-height-gt-md="1:1" md-row-height="3:3"
                    md-gutter="8px" md-gutter-gt-sm="8px" >

                <md-grid-tile ng-repeat="(key, item) in page.content.board" ng-click="page.placeTile(key)" class="blue">
                    <md-icon ng-if="item == 'x'" md-svg-src="./assets/svg/close.svg" class="s48"></md-icon>
                    <md-icon ng-if="item == 'O'" md-svg-src="./assets/svg/fish_eye.svg" class="s48"></md-icon>
                </md-grid-tile>
                    
                </md-grid-list>    
            </div>    
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="page.submitMove()">Submit Move</md-button>
            <md-button ng-click="page.newGame()">New Game</md-button>
        </md-card-actions>
      </md-card>
</div>
<div id="spinner" ng-show="page.computer"><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>